extends layout

block content
  div.landing-header.row
    div.col-8.col-start-3
      h1.index-hero 5K9 Running
      p The site for runners and with quadrupedal companions. Running with your dog is the best. Learn to do it the right way with 5K9.
  div.landing-media-wrapper.row
    div.col-8.col-start-3
      img(src="/images/index_hero.jpg", alt="A goldendoodle chewing on a running shoe.")