extends layout

block content
  div.landing-header.row
    div.col-8.col-start-3
      h1 Welcome to the 5K9 community!
      p Check your inbox for your welcome email.
  div.landing-media-wrapper.row
    div.landing-media-wrapper-content.col-4.col-start-5
      img(src="/images/daphne_frisbee.jpg", alt="A goldendoodle laying in a field with an orange frisbee.").landing-content-img